
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu&display=swap");


 body {

width: 100%;
height: 100vh;
flex-direction: column;
margin: 0;
padding: 0; 
background-color:white;

font-weight: 400;
line-height: 2rem;
overflow-x: hidden;
}

.margin-top {
    margin-top: 3rem;
}
 .margin-bottom {
     margin-bottom: 3rem;
 }

/* ----------------------------------------nav bar */


.navabar-logo {
    height: 65px;
    margin-left: 10px;
}

.text-shadow {
    text-shadow: 2px 2px 2px hsla(0, 100%, 50%, 0.3)
}

.flashes {
    line-height: 2;
}

nav li a {
    font-size: 18px; 
    transition-timing-function: ease-in-out
}

nav li a:hover {
    color: #3498db;
	transition: 500ms;
}

/* ----------------------------------------Footer */
.footer-container {
	width: 100%;
	bottom: 0px;
	height: 70px;
	background-color: black ;
	border: 2px hsla(0, 100%, 50%, 0.3) solid;
    display: block;
}

.social-links a i  {
	color: white;
	padding-top: 1rem;
	padding: 20px;
	height: 20px;
	width: 20px;
    transform: scale(1.3);
    
}

.social-links a i:hover {
	color: #3498db;
	transition: 500ms;
   
}

/* ----------------------------------------drink cards */

.cocktail-card {
    height: 500px;
    width: 200px;
}

.card-image-size {
    height: 200px;
    width: 150px;
}

.cocktail-card-img {
    width: 300px;
    height: 300px;
    border-radius: 25%;
}

.cocktail-card-title {
    font-size: 25px;
}

.pic {
  object-fit: cover;
  border-radius: 15px;
}

.spirit-card {
    box-shadow: 5px 10px 8px grey;
}

.card-image  {
border-radius: 25px;
}

.card {
border-radius: 25px;
}

.card .card-image img {
    border-radius: 25px;
}

.drink-card {
transition: .5s;
background: whitesmoke;
box-shadow:  5px 10px 8px grey;
}

.drink-card:hover h3 {
color:hsla(0, 100%, 50%, 0.3);
}

.drink-card:hover {
transform: scale(1.03);
}

.cocktail-card-content {
height: 220px;
}

/* ----------------------------------------images */
.spirit-img {
  height: 300px;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25%;
}

.cocktail-recipe-img {

  display: block;
  margin-top: 50px;

  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
 
}
.div {
 
  margin-top: 20px;
  width: auto;
  background-color: hsla(0, 100%, 30%, 0.3);
  
}


.home-image {
    background-image: radial-gradient(rgba(249, 238, 238, 0.91), rgba(152, 142, 142, 0.04)), url(../images/cocktails-above.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 15px;
    width: 100%;
    height: 100%;
}

.error-container {
    background-image: radial-gradient(rgba(245, 236, 236, 0.91), rgba(152, 142, 142, 0.04)), url(../images/broken-phone.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 15px;
    width: 100%;
    height: 80vh;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.selected_cocktail {
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 15px;
    width: 100%;
    min-height: 80vh;
}

.back-img {
    position: relative;
    border-radius: 15px;
    width: 100%;
    min-height: 80vh;
}

.hr-cocktail-recipe {
    width: 50%;
}

hr {
    height: 1px;
    width: 50%;
}

.details-container {
    min-height: 80vh;
}

/* ----------------------------------------Headings */
/* ---- Recipe page */
.spirit-headings {
  font-family: "Fredericka the Great", cursive;
  text-align: center;
}

.recipe-procedure-heading {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.cocktail-header {
    text-align: center;
    font-family: 'Courgette', cursive;
}

.recipe-center-items, .ingredients-list  {
    text-align: center;
}

/* ---- Login/Register */

.page-bottom-margin {
    margin-bottom: 0px;
}
.page-head-margin {
    margin-top: 0px;
}

.header-padding {
    padding-top: 2rem;
}

/* ---- All pages */
h3 {  
text-shadow: 0px 15px 5px rgba(0,0,0,0.1),
             10px 20px 5px rgba(0,0,0,0.05),
            -10px 20px 5px rgba(0,0,0,0.05);
}
 /* ---- drinks-page */
.drinks-image-text {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: inherit;
padding: 9px; 
letter-spacing: 12px;
}

.sub-heading {
    font-size: 20px;
}

.drink-by {
    text-align: center;
}

.short-text { display: none; 
}

/* ----------------------------------------Profile */

.profile-card {
    margin-top: 20px;
    background-color:  hsla(0, 100%, 50%, 0.3);
}

.cocktail-form-container  { 
    padding:1px;
    border-radius: 20px;
    margin-bottom: 2rem;
    padding-left: 20px;
    padding-right: 20px;
}



.alcohol-input {
    margin-top: 3rem;
}   

.container-home {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    height: 350px;
    margin-top: 2em;
}

.details-card {
    background-color:hsla(0, 100%, 50%, 0.3);
    border-radius: 5%;
    
}

/* ----------------------------------------Buttons */
.details-btn, .drink-recipe-btns, .addcocktail-btn, .edit-btn, .error-btn{
    background-color: rgba(30, 130, 76, 1);
    border-radius: 10%;

}

.details-btn:hover, .drink-recipe-btns:hover, .addcocktail-btn:hover, .delete-btn:hover, .error-btn:hover  {
    background-color: hsla(0, 100%, 50%, 0.3);
}

.delete-btn {
    background-color: hsla(0, 100%, 50%, 0.3);  
}

.back-btn {
    background-color:rgb(0,0,255);  
}

.back-btn:hover {
    background-color:rgba(137, 196, 244, 1);
}

.delete-btn {
    background-color:rgb(207, 0, 15);  
}

.edit-btn:hover {
    background-color: #86e2d5
}

.asterisk{
    color: red;
    font-size: 10px;
}  

.search-container {
    padding-top: 10px;
}

.search-card {
    background-color: rgb(173,223,173);
    box-shadow: 5px 10px 8px grey;
}

.drinks-count {
    font-size: 20px;
    font-weight: bold;
}

/* ----------------------------------------Login/Register */

.log-reg-link  {
    font-size: 24px;
}

/* ----------------------------------------Media Queries */

@media (max-width: 767px) {
	.sub-heading {
		font-size: 20px;
        font-weight: bold;
        text-align: center;
	}
    .navabar-logo {
        height: 60px;
        margin-left: 10px;
}
    .log-reg-link {
            font-size: 16px !important;
        }

    .short-text { display: inline-block; }
    .full-text { display: none; }
    
    }

        @media (max-width: 1024px) {
	.sub-heading {
		font-size: 15px;
        font-weight: bold;
	}
    .cocktail-card-content {
    height: 230px;
}

  
    }



