@import url("https://fonts.googleapis.com/css?family=Fredericka+the+Great:100,300,400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette:100,300,400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Slabo+27px:100,300,400,700&display=swap");


body{

min-height: 100vh;
flex-direction: column;
margin: 0;
padding: 0; 
color:var(--lightblack);
font-family: 'Slabo 27px', serif;
font-weight: 400;
line-height: 1.7rem;
overflow-x: hidden;
}

.imgage {
background-image: radial-gradient(rgba(249, 238, 238, 0.91), rgba(152, 142, 142, 0.04)), url(../images/vodka.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}

/* ----------------------------------------nav bar */

.navabar-logo {
    height: 65px;
    margin-left: 10px;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(233, 7, 7, 0.5)
}

.flashes {
    line-height: 2;
}

nav li a:hover {
    color: red !important;
}
/* ----------------------------------------drink cards */

.cocktail-card {
    height: 500px;
    width: 200px;
}

.card-image-size {
    height: 200px;
    width: 150px;
}

.cocktail-card-img {
    border: 1px solid red;
    width: 300px;
    height: 300px;
}

.cocktail-card-title {
    font-size: 20px;
}

.sub-heading {
    font-size: 15px;
}

.pic {
  object-fit: cover;
  border-radius: 15px;
}

.spirit-card {
    box-shadow: 5px 10px 8px grey;
}

.card .card-image img {
border-radius: 25px;
}

.card {
border-radius: 25px;
}

.drink-card {
transition: .5s;
background: #eee;
box-shadow:  5px 10px 8px grey;
}

.drink-card:hover h3 {
color: #c21;
}

.drink-card:hover {
    transform: scale(1.03);
}

.cocktail-card-content {
    height: 200px;
}

/* ----------------------------------------images */
.recipe-img {
  height: 300px;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hr-cocktail-recipe {
    width: 50%;
}

hr {
    height: 1px;
    width: 50%;
}

/* ----------------------------------------Headings */
.spirit-headings {
  font-family: "Fredericka the Great", cursive;
  text-align: center;
}

.glassware-heading, .garnish-heading, .method-heading, .ingredient-heading {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.cocktail-header {
    text-align: center;
    font-family: 'Courgette', cursive;
}

.drinkcard-heading {
  font-size: 18px;
}

.drinkcard-title {
  text-align: center;
}

.recipe-center-items, .ingredients-list, .method-instructions, .cocktail-history {
    text-align: center;
}

.section-heading {
    text-align: center;
}

.home-heading{
    position: absolute;
    
}

.text-block-home {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

width: inherit;
padding: 9px;
}

/* ----------------------------------------Profile */

.profile-card {
    margin-top: 20px;
    background-color: whitesmoke;
}


.cocktail-form-container  {
    
padding:1px;
border-radius: 20px;
margin-bottom: 2rem;
padding-left: 20px;
padding-right: 20px;
}

.margin-top-large {
    margin-top: 5rem;
}

.alcohol-input {
    margin-top: 3rem;
}


.home-image {
background-image: radial-gradient(rgba(249, 238, 238, 0.91), rgba(152, 142, 142, 0.04)), url(../images/vodka.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
position: relative;
border-radius: 15px;
width: 100%;
height: 100%;
}


.container-home {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    height: 350px;
    margin-top: 2em;
}

/* ----------------------------------------Footer */
.footer-container {
	width: 100%;
	bottom: 0px;
	height: 70px;
	background-color: black ;
	border: 2px white solid;
    display: block;
}

.social-links a i  {
	color: white;
	padding-top: 1rem;
	padding: 20px;
	height: 20px;
	width: 20px;
    transform: scale(1.03);
    
}

.social-links a i:hover {
	color: #3498db;
	transition: 500ms;
   
}

