<!-- top nav -->
<nav class="nav-extended text-shadow black">
   <div class="nav-wrapper">
      <a href="{{url_for('drinks_card')}}" class="brand-logo"
         ><img
         src="{{ url_for('static', filename='images/cocktail-buddy logo.png') }}"
         class="navabar-logo"
         alt="Cocktail Buddy Logo"
         /></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"
         ><i class="material-icons">menu</i></a
         >
      <ul class="right hide-on-med-and-down">
         <li><a href="{{url_for('drinks_card')}}">Home</a></li>
         {% if session.user %}
         <li>
            <a href="{{url_for('spirit_selection')}}">Spirit Categories</a>
         </li>
         <li><a href="{{url_for('add_cocktails')}}">Add Cocktails</a></li>
         {% if session.user|lower == "admin"|lower %}
         <li>
            <a href="{{url_for('get_categories')}}">Manage Categories</a>
         </li>
         {% endif %}
         <li>
            <a href="{{url_for('profile', username=session['user'])}}"
               >Profile</a
               >
         </li>
         <li><a href="{{url_for('logout')}}">Logout</a></li>
         {% else %}
         <li><a href="{{url_for('login')}}">Login</a></li>
         <li><a href="{{url_for('register')}}">Register</a></li>
         {% endif %}
      </ul>
      <!-- mobile sidenav -->
      <ul class="side-nav" id="mobile-demo">
         <li><a href="{{url_for('drinks_card')}}">Home</a></li>
         {% if session.user %}
         <li>
            <a href="{{url_for('profile', username=session['user'])}}"
               >Profile</a
               >
         </li>
         <li ><a href="{{url_for('spirit_selection')}}">Cocktails</a></li>
         <li><a href="{{url_for('add_cocktails')}}">Add Cocktails</a></li>
         {% if session.user|lower == "admin"|lower %}
         <li>
            <a href="{{url_for('get_categories')}}">Manage Categories</a>
         </li>
         {% endif %} {% else %}
         <li class="float"><a href="{{url_for('login')}}">Login</a></li>
         <li class="float"><a href="{{url_for('register')}}">Register</a></li>
         {% endif %}
         <li class="float"><a href="{{url_for('logout')}}">Logout</a></li>
      </ul>
   </div>
</nav>