{% extends 'base.html'%} {% block content %}


<h3 class="center-align " >Add Category</h3>
<div class="row container addcocktail-container  z-depth-1">
  <form class="col s12" method="Post" action="{{url_for('add_categories')}}">
    
  
    <!-- Glassware -->
    <div class="row">
      <div class="input-field col s12">
        <i class="fas fa-glass-whiskey prefix"></i>
        <input
          id="glass_type"
          name="glass_type"
          type="text"
          class="validate"
          required
        />
        <label for="glass_type">Glassware</label>
      </div>
    </div>

    
    <!-- Button -->
    <div class="row">
      <div class="col s12 center-align">
        <button
          class="btn waves-effect waves-light addcocktail-btn"
          type="submit"
          name="action"
        >
        <i class="far fa-edit right prefix"></i>
          Add Category
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>

    {% endblock %}
  </form>
</div>
