{% extends 'base.html'%} {% block content %}
<h3>Manage Categories</h3>

<div class="row">
  <div class="col s12 center-align">
  <a href="{{ url_for('add_categories')}}" class="btn-large dark-blue">Add Category <i class="fas fa-plus-square right"></i></a>
  </div>
</div>

<div class="row">
  {% for alc in alcohol %}
  <div class="col s12 m3">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">{{ alc.alcohol_type }}</span>
      </div>
      <div class="card-action">
        <a href="{{url_for('edit_categories', alc_id=alc._id)}}" class="btn-large red text-shadow">Edit</a>
        <a href="#" class="btn-large black text-shadow">Delete</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
