{% extends 'base.html'%} {% block content %}
<h3>Manage Categories</h3>

<div class="row">
  <div class="col s12 center-align">
  <a href="{{ url_for('add_categories')}}" class="btn-large dark-blue">Add Category <i class="fas fa-plus-square right"></i></a>
  </div>
</div>

<div class="row">
  {% for alc in alcohol %}
  <div class="col s12 m6">
  <ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>{{ alc.alcohol_type }}</div>
      <div class="collapsible-body"><span> <a href="{{url_for('edit_categories', alc_id=alc._id)}}" class="btn-large red text-shadow">Edit</a>
      <a href="{{url_for('delete_categories', alc_id=alc._id)}}" class="btn-large black text-shadow">Delete</a>.</span></div>
    </li>
    </ul>
</div>
     {% endfor %}
</div>





{% endblock %}
