{% extends 'base.html'%} {% block content %}

<div class="container">
  <div class="row">
 
    <h2 class="cocktail-header">{{selected_cocktail.drink_name}}</h2>
    <div class="row">

          <div class="col s12 l3">
       
        <img
          class="image recipe-img"
          src="{{selected_cocktail.image}}"
          alt="cocktail image"
        />
       
      </div>
    
      <!-- nested columns in order to get the instructions to lne up next to the picture. -->
      <div class="col s12 l9 instructions-col">
        <div class="row">
          <div class="col l6 s12 recipe-center-items">
            <h3 class="ingredient-heading">Ingredients</h3>
            <i class="fas fa-list"></i>
            <hr class="hr-cocktail-recipe" />
            <ul>
              <li class="ingredients-list">
                {{selected_cocktail.alcohol_element}}
                {{selected_cocktail.alcohol_measure}}
                {{selected_cocktail.alcohol_measurement}}
              </li>
              <li class="ingredients-list">
                {{selected_cocktail.alcohol_element_2}}
                {{selected_cocktail.alcohol_measure_2}}
                {{selected_cocktail.alcohol_measurement_2}}
              </li>
              <li class="ingredients-list">
                {{selected_cocktail.citrus_element}}
                {{selected_cocktail.citrus_measure}}
                {{selected_cocktail.citrus_measurement}}
              </li>
              <li class="ingredients-list">
                {{selected_cocktail.sweet_element}}
                {{selected_cocktail.sweet_measure}}
                {{selected_cocktail.sweet_measurement}}
              </li>
              <li>{{selected_cocktail.other_ingredients}}
              </li>
            </ul>
          </div>

          <div class="col l6 s12 recipe-center-items">
            <h3 class="method-heading">Method</h3>
            <i class="fas fa-blender"></i>
            <hr class="hr-cocktail-recipe" />
            <ul class="method-instructions">
              <li>{{selected_cocktail.method}}</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col l6 s12 recipe-center-items">
            <h3 class="glassware-heading">Glassware</h3>
            <i class="fas fa-glass-whiskey"></i>
            <hr class="hr-cocktail-recipe" />
            <ul>
              <li class="glassware-list">{{selected_cocktail.glass_type}}</li>
            </ul>
          </div>
          <div class="col l6 s12 recipe-center-items">
            <h3 class="garnish-heading">Garnish</h3>
            <i class="fas fa-bone"></i>
            <hr class="hr-cocktail-recipe" />
            <ul>
              <li class="garnish-list">{{selected_cocktail.garnish}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <h3 class="garnish-heading">Notes</h3>
      {{selected_cocktail.notes}}
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col s12">
      <div class="cocktail-history">
        <h4 class="cocktail-history-header">History</h4>
        <hr class="hr-cocktail-recipe" />
        {{selected_cocktail.history}}
      </div>
    </div>
  </div>

  <div class="row">  
    <div class="col s12 btns center-align drink-recipe-btns">
       <a href="{{url_for('drinks_card', drink_id=selected_cocktail._id)}}" class="waves-effect waves-light btn blue drink-recipe-btns"
        >Back</a
      >
            {% if session.user|lower == selected_cocktail.created_by|lower %}
      <a href="{{url_for('edit_cocktail', drink_id=selected_cocktail._id)}}" class="waves-effect waves-light btn green drink-recipe-btns"
        >Edit</a
      >
      <a href="{{url_for('delete_cocktail', drink_id=selected_cocktail._id)}}" class="waves-effect waves-light btn red drink-recipe-btns">Del</a>
            {% endif %} 
    </div>
 
  </div>
</div>

{% endblock %}
