{% extends 'base.html'%} {% block content %}

<div class="container">
    <div class="row">
      <div class="col s12">
    <div
          style="background-image: url{{selected_cocktail.image}}; width:80vw; height:80vh;"
         
    
        > <div class="col l6 s12 recipe-center-items">
							<h3 class="recipe-procedure-heading">Ingredients</h3>
							<i class="fas fa-list"></i>
							<hr class="hr-cocktail-recipe" />
							<ul>
								<li class="ingredients-list">
									{{selected_cocktail.alcohol_element}}
									{{selected_cocktail.alcohol_measure}}
									{{selected_cocktail.alcohol_measurement}}
								</li>
								<li class="ingredients-list">
									{{selected_cocktail.alcohol_element_2}}
									{{selected_cocktail.alcohol_measure_2}}
									{{selected_cocktail.alcohol_measurement_2}}
								</li>
								<li class="ingredients-list">
									{{selected_cocktail.alcohol_element_3}}
									{{selected_cocktail.alcohol_measure_3}}
									{{selected_cocktail.alcohol_measurement_3}}
								</li>
								<li class="ingredients-list">
									{{selected_cocktail.citrus_element}}
									{{selected_cocktail.citrus_measure}}
									{{selected_cocktail.citrus_measurement}}
								</li>
								<li class="ingredients-list">
									{{selected_cocktail.sweet_element}}
									{{selected_cocktail.sweet_measure}}
									{{selected_cocktail.sweet_measurement}}
								</li>
								<li>
									{{selected_cocktail.other_ingredients}}
								</li>
							</ul>
						</div>
</div>
        
    </div>
  </div>
</div>
{% endblock %}
