{% extends "base.html" %} {% block content %}

<h3>Drinks</h3>

<!-- Search query -->
<div class="row card-panel lighten-5 grey">
  <form action="{{url_for('search') }}" method="post" class="col s12">
    <div class="row valign-wrapper center-align">
      <div class="input-field col s12 m8Î">
        <i class="fa fas serch prefix light-blue"></i>
        <input
          type="text"
          name="query"
          id="query"
          class="validate"
          minlength="3"
          required
        />
        <label for="query">Search</label>
      </div>
      <div class="col s12 m4">
        <a
          href="{{ url_for('drinks_card') }}"
          class="red-button text-shadow"
        ></a>
        <button type="submit" class="light-blue.darken-1.btn">
          <i class="fa fas search left"></i> Search
        </button>
      </div>
    </div>
  </form>
</div>

 {% if drinks| length > 0 %}  
<div class="row">
  {% for drink in drinks %}

  <div class="col s12 m6 l3">
    <div class="card cocktaiil-card">
      <div class="card-image">
        <a href="{{  url_for('cocktail_recipe', drink_id=drink._id) }}">
          {% if drink.image %}
          <img
            class="image cocktail-card-img"
            src="{{drink.image}}"
            alt="cocktail image"
          />
          {% else %}
          <img
            src=""
            class="cocktail-card-img z-depth-2"
            alt="Image placeholder"
          />
          {% endif %}
          
          <span class="card-title">{{drink.alcohol_type}}</span>
        </a>
      </div>
  
      <div class="card-content"></div>
      <div class="card-action">
        <a href=""></a>
        <p>{{drink.drink_name}}</p>
        <p>{{drink.created_by}}</p>
      </div>
    </div>
  </div>
   {% endfor %}
</div>
     
       {% else %}
     <h3>No drinks match you search</h3>
  {% endif %}

{% endblock %}
