{% extends "base.html" %} {% block content %}
    
<h1>Drinks</h1>
<div class="row">
  {% for drink in drinks %}
  <div class="col s12 m6 l3">
    <div class="card cocktaiil-card">
      <div class="card-image">
        <a href="">
          {% if drink.image %}
          <img
            class="image cocktail-card-img"
            src="{{drink.image}}"
            alt="cocktail image"
          />
          {% else %}
          <img
            src=""
            class="cocktail-card-img z-depth-2"
            alt="Image placeholder"
          />
          {% endif %}
          <span class="card-title">{{drink.alcohol_type}}</span>
        </a>
      </div>

      <div class="card-content">
      </div>
      <div class="card-action">
        <a href=""></a>
        <p>{{drink.drink_name}}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}

